body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    background-image: url("../IMG/stars.jpg");
    display: flex;
    flex-direction: column;
    min min-height: 100vh;
    justify-content: flex-start;
}

header {
    font-family: 'Bruno Ace', cursive;
    font-size: 300%;
    padding: 5px;
    text-align: left;
    background-color: rgb(21, 153, 153);
    margin-bottom: .5%;
    padding-left: 1%;
}

  header h1 {
    color: #571414;
    font-size: 300%;
    padding: 1px;
    text-decoration: none;
    margin-left: 5px;
  }
  
  header p {
    color:rgb(6, 39, 3);
    font-size: 60%;
    padding: 2px;
    text-align: right;

  }


main {
    background-color: aqua;
    text-align: center;
    margin-bottom: 1%;
    padding-bottom: 1%;
}

#like, #seen, #dislike {
    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
}

section {
    background-color: orange;
    text-align: center;
    margin-bottom: 1%;
}

article {
    display: flex;
    flex: 1;
}

.card {
    margin: 5px;
    background-color: silver;
    width: 100%;
}

footer {
    background-color: teal;
    padding: 1%;
}