body {
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url("../IMG/stars.jpg");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: 'Bruno Ace';
    font-size: 200%;
    padding: 5px;
    text-align: left;
    background-color: #bbb6acd8;
    padding-left: 1%;
    display: flex;
    justify-content: space-between;
}

  header h1 {
    color: #571414;
    font-size: 250%;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  header p {
    color:#062703;
    font-size: 60%;
    padding: 6px;
    margin-top: 1%;
  }

main {
    background-color: #bbb6ac1f;
    text-align: center;
    margin-bottom: 1%;
    padding-top: 1px;
    padding-bottom: 1%;
}

h2 {
    font-size: 40px;
    color: silver;
    
}

#description {
    color: white;
    text-align: center;
}

#imdbRate {
    color: lightblue
}

#rottenTom {
    color: lightseagreen
 }

 #userRate {
    display: flex;
    justify-content: center;
}


#userRate > * {

    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

#seen {
    padding: 10px;
}

#seen:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 30px #ffab0e, 0px 0px 30px #ffab0e; 
}

#trailer, #reroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trailer:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 30px #20fdfd, 0px 0px 30px #20fdfd;
}

#reroll:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 30px #e62323,  0px 0px 30px #e62323;
}

section {
    color: #571414;
    background-color: #bbb6acd8;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(176, 178, 179);
    text-align: center;
    margin-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
}

article {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: silver;
}

.card p {
    margin: 0;
}

.card img {
    width: 100%;
    object-fit: contain;
    margin-top: auto;
}

footer {
    background-color: rgba(167, 162, 154, 0.918);
    color: rgba(69, 10, 230, 0.884);
    padding: 2%;
    border-radius: 10px;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    font-style: italic;
}

.modal {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
  }
  
  .modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    text-align: center;
  }
  
  .close {
    color: #aaaaaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover {
    color: black;
    cursor: pointer;
  }

  #modalTitle {
    text-align: center;
  }

  #player {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c0c0c0;
  }

  @media screen and (max-width: 768px){
    #userRate {
        flex-wrap: wrap;
    }

    #userRate > * {
        width: 50%;
        height: 2em;
        margin: 5px;
    }
  }